<hostname>
    <DC01 Role="PDC" IPAddress="10.10.100.1" SubnetMask="24" AddressFamily="IPv4" Gateway="10.10.100.254" />
    <APP01 Role="APP" IPAddress="10.10.100.2" SubnetMask="24" AddressFamily="IPv4" Gateway="10.10.100.254" />
    <APP02 Role="APP" IPAddress="10.10.100.3" SubnetMask="24" AddressFamily="IPv4" Gateway="10.10.100.254" />
</hostname>